@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    min-height: 100vh;
    min-width: 370px;
    background-image: linear-gradient(135deg,#120917,#260339 31%,#360327 52%,#1e031f 77%,#414103,#491301);
    background-size: 200%;
  }
  
  header h1 {
    padding: 20px 10px;
    letter-spacing: 0.2em;
    color: white;
  }
  
  form * {
    background: rgba(256,256,256, 0.3);
    color: white;
  }
  
  form .search, form .btn {
    padding: 10px;
    border-radius: 2px;
    font-size: 16px;
    border: 1px solid #1a1a1a;
  }
  
  ::placeholder {
    color: #f5f5f5;
  }
  
  form .search {
    width: 40%;
    min-width: 200px;
    max-width: 600px; 
  }
  form .search:focus {
    outline: 0;
    color: #f5f5f5;
    background: rgba(256,256,256, 0.3);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
  }
  
  form .btn {
    cursor: pointer;
    /* width: 60px; */
  }
  form .btn[type="submit"] {
    -webkit-appearance: button;
  }
  form .btn:hover {
    color: #333;
    background: white;
  }
  /*
  form .clear:hover {
    background: ;
  }
  */
  
  .giphy {
    padding: 20px 0 15px 0;
  }
  
  .giphy img {
    width: 200px;
    max-width: 800px;
    margin: auto;
    /* display: block; */
  }
  
  .giphy img.gif {
    width: 50%;
    max-width: 600px;
    box-shadow: 0 0 2px 2px rgba(256,256,256,0.3);
  }
  
  footer {
    padding: 5px;
    font-size: 14px;
    color: white;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  footer a:hover {
    color: white;
    text-decoration: underline;
  }

  #type > * {
    color: #000000;
  }

  #weirdness-label {
    margin-left: 50px;
  }

  #weirdness > * {
    color: #000000;
  }

.db-buttons {
  margin-top: 20px;
}

.db-buttons button {
  background: rgba(256,256,256, 0.3);
  color: white;
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid #1a1a1a;
}

.db-buttons button:hover {
  background-color: #555555;
  color: white;
}

.db-buttons button:active {
  background-color: #9933ff;
  transform: translateY(4px);
}

#consultar-db {
  margin-left: 25px;
}